body{
  margin: 0;
  background: url("../image/furley_bg.png") center, center;
}
header{
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
ul{
  margin: 0;
  padding-left: 0;
}
header li{
  padding: 5px;
  background:#ccc;
  margin: 5px;
  border: 2px;
  border-radius: 5px;
}
header li a{
  color: #fff;
}
header li:hover{
  background: url("../image/ice_age.png") center, center;
  padding: 50px;
}
header li a:hover{
  color: #000;
}
footer{
  font-size: 10px;
  padding: 20px;
}
section{
  height: 100vh;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-wrap-reverse{
  flex-wrap: wrap-reverse;
}
.a-no-style{
  text-decoration: none;
}
.list-no-style{
  list-style: none;
}
.section-container{
  padding-left: 10%;
  padding-right: 10%;
}
.half-size{
  width: 50%;
}
.min-size-small{
  min-width: 300px;
}
@media screen and (max-width :800px){
  .flex-container{
    padding-top: 1%;
  }
  .section-container{
    padding-left: 1%;
    padding-right: 1%;
  }
}
