body{
margin:0;
}
ul{
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}
article{
  margin-top: 0;
  margin-bottom: 0;
}
.flex-container{
  display: flex;
  justify-content: space-around;
}
.flex-wrap{
  flex-wrap: wrap;
}
.a-no-style{
  text-decoration: none;
}
.list-no-style{
  list-style: none;
}
.small-font{
  font-size: 10px
}
.three-article{
  width: 33%;
  min-width: 320px;
}
